/** @format */

.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  gap: 20px;
  /* background-color: white; */
  border-radius: 20px;
  /* height: 60vh; */
}

.title {
  font-size: 66px;
  /* color: rgb(56, 182, 233); */
  color: #2f77ad;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 38px;
    font-weight: 700;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 30px;
    font-weight: 700;
  }
}
