/** @format */

.holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 20px;
  /* text-align: center; */
  /* height: 60vh; */
  /* background: red; */
  /* opacity: 1;

  animation: fadeIn 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  position: relative; */
  /* animation: mymove 3s;
  animation-fill-mode: backwards; */
}
.holder1 {
  opacity: 0;
  animation: holder1 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: relative;
}
.holder2 {
  animation: holder2 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
}
@keyframes holder1 {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0;

    /* background-color: blue; */
  }
}
@keyframes holder2 {
  from {
    opacity: 0;
    right: 0px;
  }
  to {
    opacity: 1;
    right: 10px;
  }
}
.title {
  font-size: 66px;
  color: #2f77ad;
  font-weight: 700;
}

.button {
  height: 67px;
  width: 217px;
  border-radius: 10px;
  background-color: #38b6e9;
  cursor: pointer;
  box-shadow: 2px 4px 20px 0px #38b6e9b2;
}
.buttonText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  background-color: inherit;
  cursor: inherit;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 38px;
    font-weight: 700;
  }
  .button {
    height: 60px;
    width: 180px;
  }
}

@media screen and (max-width: 550px) {
  .holder {
    height: auto;
    gap: 50px;
    text-align: center;
    padding: auto 20px;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .button {
    height: 50px;
    width: 150px;
    border-radius: 8px;
    background-color: #38b6e9;
    cursor: pointer;
  }
}
